#container {
    width: 600px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around
}
#container > div{
    height:100px;
    width: 100px;
    background-color: aquamarine;

    transition: all .2s linear;

}
#container > div:nth-child(2){
    background-color: coral;
    height: 50px;
}
 #container > div:hover{
    background-color:  yellow;
    flex-grow: 2;
    width: 150px;
    }