 html, body {
     height: 100%;
     margin: 0 auto;
     padding: 0;
 }

 #container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
     width: 50%;
     height: 80%;
     margin: 20px auto;
     font: normal 28pt sans-serif;
     color:black;
     background-color: brown;
 }

 #container >div{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #container>div:hover{
     background-color: sandybrown;
 }