#container {
    width: 300px;
    margin: 0 auto;
    background-color: black;
}

div{
    width:75%;
    background-color: aquamarine;
}
div.first{
    background-color: blueviolet;
    height: 20px;
    transition:height .2s ease-out;
}
    div.first:hover{
height: 100px;
    }